{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to Stock Prediction</h1>
  </div>

  <p>Please enter company eg: AAPL, GOOGL</p>

  <form method="GET" action="{{ url_for('stocks') }}">
	  <div class="form-group">
	    <label for="company">Company</label>
	    <input name="company" type="text" class="form-control" id="company" aria-describedby="searchHelp" placeholder="Enter Company">
	  </div>
	<button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}